:root {
    --main-color: #404040;
    --sidebar-color: #262626;
    --sec-color: #e5e5e5;
    --third-color: #fafafa;
    --details-color: #0d9488;
    --font1: "Roboto";
    --font2: "Roboto Condensed";
    --fontlogo: 'BoxfontRoundRegular';;
    --fallback-fonts: "Inter,Helvetica Neue,Helvetica,Arial,sans-serif";
}

body {
    margin: 0;
     min-height: 100vh; 
    font-family: var(--font1);
    box-sizing: border-box;
}


.container {
    height: 100%;
    display: grid;
    grid-template-columns: max-content minmax(1fr,500px);
    grid-template-rows: auto 4fr;
    background-color: var(--sec-color);
}

.sidebar {
    background-image: linear-gradient(var(--sidebar-color), var(--main-color));
    grid-row: 1 / -1;    
    padding: 1rem;
    font-family: var(--font2);
    font-weight: 700;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.nav,
.about {
    margin-right: 40px;
}

a {
    align-items: center;
}

.logo {
    
    display: grid;
    grid-auto-flow: column;
}

ul {
    justify-content: start;
    list-style-type: none;
    display: grid;
    justify-items: start;
    gap: 1rem;
}

li:hover {
    opacity: 0.5;
} 

.sidebar-icon {
    height: 2rem;
    width: 2rem;
}

a:link {
    display: grid;
    grid-row: 10px;
    grid-column: 10px 10px;
    grid-auto-flow: column;
    font: 1em sans-serif;
    text-decoration: none;
    color: var(--third-color);
}

.header {
    background-color: var(--third-color);
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.dashboard-logo-title {
    font-family: var(--fontlogo);
    color: var(--third-color);
    font-size: 2rem;
}

.management {
    display: grid;
    grid-template-rows: 1fr;
    grid-row: 2 / 3;
    grid-auto-flow: column;
    justify-content: start;
    justify-items: center;
    padding: 12px;
    gap: 12px;
}

.profile {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-items: end;
    gap: 12px;
}

.button {
    background-color: var(--details-color); 
    border: none;
    color: var(--third-color);
    font-weight: 700;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border-radius: 11px;
    cursor: pointer;
  }

.button:hover{
    background-color: var(--sidebar-color);
}


.search-bar input[type=text] {
    background-color: var(--sec-color);
    width: 95%;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
.search-bar {
    grid-row: 1 / 2;
    display: grid;
    justify-items: end;
    grid-auto-flow: column;
    align-items: end;
    align-content: center;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
}

.notifications {
    width: 60px;
    height: 60px;
}

.search-img {
    width: 32px;
    height: 32px;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: max-content 1fr;
    padding: 1rem;
    gap: 0.5rem;
}

.section-title{
    font-weight: 700;
    color: var(--main-color);
    font-size: 1.5rem;
    margin-left: 1rem;
}

.main-content{
    background-color: var(--sec-color);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: max-content max-content;
    gap: 1rem;
    padding: 1rem;
}

.topics {
    background-color: var(--third-color);
    padding: 2rem;
    align-items: end;
    box-shadow: 5px 10px var(--details-color);
    display: grid;
    grid-template-rows: max-content max-content 1fr;
}

.topics:hover {
    box-shadow: 5px 10px var(--sidebar-color);
    cursor: pointer;
}

.topic-header {
    font-size: 1.5rem;
}

.topic-content {
    font-size: 1.25rem;
}

.topic-links {
    display: flex;
    justify-content: end;
    gap: 4px
}

.topic-links img {
    height: 30px;
    width: 30px;
}

.feed {
    display: grid;
    grid-template-rows: max-content max-content max-content;
    
}

.feed-top,
.feed-bot {
    background-color: var(--third-color);
    display: grid;   
    padding: 2rem;
} 

.feed-bot-content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.ftc-title {
    font-weight: 700;
    font-size: 1.15rem;
}

.ftc-text {
    font-size: 1rem;
}

.user-name {
    grid-column: 2 / 3;
    font-weight: 700;
    font-size: 1rem;
}

.user-frase {
    grid-column: 2 / 3;
    font-size: 1rem;
    font-style: italic;
}

.profile-pic-small {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    grid-row: 1 / -1;
    background-color: var(--details-color);
}